<!DOCTYPE html>

<html>

      <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <title>Alpha Blog</title>   
        
        <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag "app/assets/styles.css" %>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        
     </head>
     
     <body>

        <h1>Edit existing article</h1>
        
          <% if @article.errors.any? %>
            <h2>The following errors prevented the article from getting created</h2>
          
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
          
          <% end %>
        
          <%= form_for @article do |f| %>
          
          <p>
          <%= f.label :title %><br/>
          <%= f.text_field :title %>
          </p>
          
          <p>
          <%= f.label :description %><br/>
          <%= f.text_area :description %>
          </p>
          
          <p>
          <%= f.submit %>
          </p>
        
        <% end %>
        
        <%= link_to 'Back', articles_path %>

    </body>
    
</html>